:root{
    /*banner settings*/
    --bannerheight:520; --bannerwidth:3480;

    --logobm: url('/Website%20assets/logobmh.png');
    --logobmhov: url('/Website%20assets/logobm.png');
    --logonm: url('/Website%20assets/logonmh.png');
    --logonmhov: url('/Website%20assets/logonm.png');
    --logobck: url('/Website%20assets/logobck.png');

    --banner: url('/Website%20assets/banner.png');

    --defopacity: 1; --fadeto: 0.6;
    --borderrad: 6px; --skirting: 6px;
    --tiny-fonts: 0.69em; --small-fonts: 0.80em;
    --mid-fonts: 1.00em; --large-fonts: 1.30em;
    --logoinv: 1;
    /*colours*/
    --accent1:#7565ff; --accent2:#ff62ea;
    --accent3:#ffb533; --accent4:#3aecb4;
    --accent5:#ff4fc7;

    --invaccent: #505050; --links: #ff8ef4;
    --titles: #7285fe; --text: #787878;

    --background: #f4f4f4; --posts: #ffffff;
    --artposts: #8781bd; --borders: #d8d5d5;
    --postback: #e3e3e3;}

/* ===================================== */
/*Body Data */

.nmb svg {fill:white}
.nmb:hover svg {fill:var(--accent3)}

/* ===================================== */
/* FONT DATA */
/* ===================================== */

body {font-size:1em; font-family:var(--fontstyle);word-wrap:break-word}

a {text-decoration:none; font-weight:900}
p {font-size:var(--tiny-fonts)}
p:first-of-type t{font-size:1.4em; line-height:0}
t { font-family:var(--boldstyle); text-transform:uppercase;  font-size:1.1em}
ol{font-size:12px}

sidels,siders,sidelm,siderm,sidell,siderl,fullwc{font-size:16px}
section {font-size:var(--mid-fonts)}

#top-nav {font-size:0}
.ls t{font-size: 21px;}

.load-more{text-align:center}
.load-more p{font-weight:900; font-size:var(--tiny-fonts)}

/* ===================================== */
/* PAGE 0 */

.pg0 article li{font-size:0}
.pg0 article .when a {font-size: var(--tiny-fonts)}

/* ===================================== */
/* PAGE 1 */

article .when {line-height:14px}
article .when .timestamp {font-size:var(--small-fonts)}
article .when .dateposted {font-family:var(--boldstyle); text-transform:uppercase}

.new-post{font-size: var(--mid-fonts); letter-spacing: 1px; font-family: var(--boldstyle)}
.new-post:after {content: 'NEW'; color:white}

article li p:first-of-type b {font-size: 15px; line-height:0}
article li li::before {content:"- "}

article .poster .title{font-weight: 900; font-family: var(--boldstyle); text-transform: uppercase}
article figure {font-size: 0}

.footer {font-size:var(--tiny-fonts);text-transform:uppercase;letter-spacing:0.7px} /*posted by*/

/* ===================================== */
/* PAGE 2 / 3 */

incont > * drp p {font-size:0!important}
incont > *:hover drp p {font-size:var(--tiny-fonts)!important}

incont > * drp t,incont > * div:first-of-type t {line-height:0.9em!important}
incont > * drp p,incont > * div:first-of-type p {letter-spacing:.15px}

/* Page 5
/* ===================================== */

.sbitems t {letter-spacing:0.5px}

/* ===================================== */
/* TEXT COLOURS */
/* ===================================== */

body {color:var(--text)}

a {color:var(--accent3)}
a:hover {color:var(--links)}
t {color: var(--accent2)}
h {color:var(--accent3)}

.tan p, .tii p, .tii{color:white;}
.tan t, .tii t, .tan{color:white;}

.button-focus t {color:var(--accent2)}

#side .wedge:last-of-type {color:white;}
#side-nav div:hover t, #top-nav div:hover t  {color:var(--accent3)}
#side-nav div t, #top-nav div t{color:white!important;}

article invert img {filter: invert(var(--logoinv))}

/* ===================================== */
/* PAGE 0 */
.pg0 article .when a:first-of-type:not(:only-child){color:white}
.pg0 article t {}

/* ===================================== */
/* PAGE 1 */
.dateposted, .timestamp {color:white}
.timestamp:before {color:white!important}
.timestamp:hover {color:var(--accent3)}
.dateposted:hover {color:var(--accent4)}

article .poster .title{color: white}
article li p b {color:var(--accent5)}
article li p:first-of-type b {color:var(--accent3)}
article li b {color:var(--titles)}
article .when .new-post{color: white}
article .bottom {color:white}

.load-more p{color:white!important}

/* ===================================== */
/* PAGE 2 */
incont > * p{color:var(--text)}
incont > * a{color:var(--accent3)}
incont > * a:hover {color:var(--accent4)}

incont > * div, incont > * drp t,
incont > * tcb p, incont > * tcb t {color:white!important;}
incont > * drp p {color:var(--posts)}

/* ===================================== */
/* BACKGROUND COLOURS */
/* ===================================== */

body {background:var(--background)}
.block, .wedge {background-color:var(--posts)}

.pg3 incont, .pg2 incont{background-color: var(--postback)}

#hdr {background-image:var(--banner)}

.logo-f.lo0 {background-image: var(--logonm)}
.logo-f.lo1 {background-image: var(--logobm)}
.logo.lo0 {background-image: var(--logonmhov)}
.logo.lo1 {background-image: var(--logobmhov)}
.logo-f.bck {background-image: var(--logobck)}

.nmb {background-color:var(--accent1)}
#side-nav div {background-color:var(--posts)}
#side div.wedge:last-of-type {background-color:var(--invaccent)}
#side-media a, #side-media:hover > * {background-color:var(--accent1)}

section {background-color: var(--postback)}

.dac p {background-color:var(--accent3)!important}
.tan p {background-color:var(--invaccent)}
.tii p {background-color:var(--accent2)}

/* ===================================== */
/* PAGE 0 */
.pg0 article .when {background-color:var(--accent1)}
.pg0 article .when a:first-of-type:not(:only-child){background-color:var(--accent2)}
.pg0 article .when a:first-of-type:not(:only-child):hover{background-color:var(--accent3)}

/* ===================================== */
/* PAGE 1 */
.when:not(.footer){background-color:var(--accent1)}

article {background-color:var(--posts)}
article .poster:hover .title{background-color: var(--accent1)}
article .when .new-post {
    background: linear-gradient(-45deg, var(--accent2), var(--accent3), var(--accent4));
    background-size: 300% 300%}
article .bottom {background-color: var(--accent1)}
article .poster .title {background-color: var(--invaccent)}
article .poster:hover .title {background-color: var(--accent2)}

#article9 .poster:hover .title {background-color: var(--accent4)}

.double-bounce1, .double-bounce2 {background-color: var(--accent1)}
#twitter {background-color: var(--postback)!important}
#twitter .load-more {background-color:rgba(0.5,0.5,0.5,0.3)}
#twitter .load-more p {background:var(--accent1)}

/* ===================================== */
/* PAGE 2/3 */
incont > * p {background-color:var(--posts)}
incont > * li{background-color:var(--artposts)}
incont > * .img{background-color:var(--artposts)}

incont > * tcb p {background-color:var(--accent1)}
incont > * drp p {background-color:var(--accent2)}

/* ===================================== */
/* ALL */
section .load-more p {background-color:var(--accent1)}
section .load-more:hover p {background-color:var(--accent2)}

#twitter .load-more p:hover {background: linear-gradient(-45deg, var(--accent2), var(--accent3));}
.load-more p{background: linear-gradient(-45deg, var(--accent2), var(--accent3), var(--accent4))}

/* ===================================== */
/* BORDER COLOURS */
a {border-color:var(--accent3);}

.row > *:first-child {border-right:1px solid var(--borders)}
.divider {border-top:1px solid var(--borders)}
.footer {border-top:1px solid var(--borders)}

.pg0 article .when {border-top: 1px solid var(--borders) !important}
.pg0 article li > *:not(:first-child){border-top: 1px solid var(--borders) !important}

/* ===================================== */
/* EDGES DATA */
/* ===================================== */

.ntc{border-top-right-radius:0!important; border-top-left-radius:0!important}
.nbc{border-bottom-right-radius:0!important; border-bottom-left-radius:0!important}

#top-nav,#side #pfp,#twitter,#hoverelm,#side-media a,#hdr{
    border-radius:var(--borderrad); overflow: hidden}
.wedge,.tii,.block,.vimage,.load-more p,.search,.new-post,.tii p, .tan p{
    border-radius:var(--borderrad); overflow: hidden}

#side-nav,article,asidel,siders,.pg2 incont > *,.pg3 incont > div{
    border-radius:var(--borderrad); overflow: hidden}
incont, section {
    border-radius:calc(var(--borderrad) + (var(--skirting)/2)); overflow: hidden}
incont > * > p{
    border-bottom-left-radius:var(--borderrad); border-bottom-right-radius:var(--borderrad)}

.pg3 incont > w2x1 {border-radius: var(--borderrad)}
.pg3 incont > w3x3:only-child {border-radius: var(--borderrad)}
.pg3 incont > w3x3:first-of-type:not(:only-child) {
    border-top-left-radius:var(--borderrad); border-top-right-radius:var(--borderrad)}
.pg3 incont > w3x3:last-of-type:not(:only-child){
    border-bottom-left-radius:var(--borderrad); border-bottom-right-radius:var(--borderrad)}

/* ===================================== */
/* TRANSITION DATA */
/* ===================================== */

a{transition:
        color .2s cubic-bezier(0,0,0,1)}

.logo, #hdr {transition:
        opacity .5s cubic-bezier(0,0,0,1),
        background-size 1s cubic-bezier(0,0,0,1)}
.logo-f {transition:
        width .2s cubic-bezier(0,0,0,1),
        height .2s cubic-bezier(0,0,0,1),
        opacity .5s cubic-bezier(0,0,0,1),
        margin .2s cubic-bezier(0,0,0,1)}
.nmb svg, svg {transition:
        color .2s cubic-bezier(0,0,0,1),
        fill .2s cubic-bezier(0,0,0,1)}

#side-nav div i, #top-nav div i{transition:
        background .2s cubic-bezier(0,0,0,1)}
#side-nav div, #top-nav div, incont > * drp p {transition:
        opacity .2s cubic-bezier(0,0,0,1),
        margin .3s cubic-bezier(0,0,0,1)}
#side-media:hover > * {transition:
        opacity .2s cubic-bezier(0,0,0,1)}

invert{transition: filter .2s cubic-bezier(0,0,0,1)}

incont > * > div.zoom {transition:
    opacity .5s cubic-bezier(0,0,0,1)}

.load-more p {transition:
        transform .2s cubic-bezier(0,0,0,1),
        background .2s cubic-bezier(0,0,0,1)}

.w32 img {transition: all .2s}

body, body * {transition:
        color .3s cubic-bezier(0,0,0,1),
        background .3s cubic-bezier(0,0,0,1)}

/* ===================================== */
/* ANIMATION DATA */
/* ===================================== */

.new-post {transition: background-color .3s cubic-bezier(0,0,0,1)}
.new-post {animation: newbuttonfade 10s cubic-bezier(0,0,0,1) infinite;}
.new-post:hover{animation: shake 0.5s; animation-iteration-count: infinite;}
.load-more p{animation: newbuttonfade 10s cubic-bezier(0,0,0,1) infinite;}

.double-bounce1, .double-bounce2 {
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;}
.double-bounce2 {
    -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}

@keyframes newbuttonfade {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}}
@keyframes shake {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) } }

@keyframes sk-bounce {
    0%, 100% {transform: scale(0.0); -webkit-transform: scale(0.0);
    } 50% {transform: scale(1.0); -webkit-transform: scale(1.0);} }