
w3x3 {width:calc(var(--innerPageCalc) - (var(--skirting)))!important}
incont{overflow:hidden}

incont, incont > * {display:inline-block; float: left; margin-right:var(--halfGutter)}
incont > *:last-of-type{margin-bottom:0; margin-right:0}

incont > * div:first-of-type p, incont > * p:last-of-type, incont > *:hover drp p{padding:8px 10px 10px}

incont > * tcb p {z-index:9; position:relative}
incont > * drp p {margin-top:-20px!important; font-size:0!important}
incont > *:hover drp p {margin-top: 0!important; font-size:var(--tiny-fonts)!important}

incont > * drp t,incont > * div:first-of-type t {line-height:0.9em!important}
incont > * drp p,incont > * div:first-of-type p {letter-spacing:.15px}

incont > * t {padding:0!important}

/* ===================================== */
/* PAGE 2 */

.pg2 > pagecontainer {
    width:calc(var(--innerPageCalc) - var(--skirting));
    padding:var(--halfSkirting)}
.pg2 incont > * {margin-bottom:10px; overflow:hidden}
.pg2 incont > *:last-of-type {margin-bottom:0}
.pg2 incont, .pg2 incont > *{
    border-radius: var(--halfSkirting)!important;
    width:calc((var(--innerPageWoConCalc) - var(--skirting))/ 3 - 0.1px)}
.pg2 incont > div > p {width: calc(100% - var(--gutter))}

.pg2 incont:last-of-type{margin-right:0}

.pg2 .load-more {margin:var(--gutter) 0 0;
    left: calc(50% + ((var(--sidebarl) + var(--gutter))/2)); transform:translateX(-50%)}

/* Page 3
/* ===================================== */

.pg3 incont {
    border-radius: var(--skirting);
    width:calc(var(--innerPageCalc) - var(--skirting));
    padding:var(--halfSkirting); margin-bottom:10px}
.pg3 incont:last-of-type {margin-bottom:0}
.pg3 incont > div > p {width: calc(100% - var(--gutter))}

.pg3 incont > *:first-child {
    border-top-left-radius: var(--halfSkirting);
    border-top-right-radius: var(--halfSkirting)}
.pg3 incont > *:last-child {
    margin-right:0!important;
    border-bottom-left-radius: var(--halfSkirting);
    border-bottom-right-radius: var(--halfSkirting)}
.pg3 incont > *:not(.zoom){
    border-radius: var(--halfSkirting);}
.pg3 incont > *{
    width: calc((var(--innerPageWoConCalc) - (var(--skirting) + 1px)) / 3);
    margin-right:10px; overflow:hidden;}

.pg3 fullwc {display:inline-block}

.pg3 .load-more {margin:var(--gutter) 0 0;
    left: calc(50% + ((var(--sidebarl) + var(--gutter))/2)); transform:translateX(-50%)}

/* Page 4
/* ===================================== */

.pg4 .postcont {
    background-color: var(--postback);
    padding:var(--halfSkirting);
    border-radius: var(--skirting); overflow:hidden}
.pg4 > * > *:not(:first-child) {
    margin-top:var(--halfGutter)}

.pg4 > * > *:not(:first-child) > * {
    border-radius: var(--halfSkirting); overflow:hidden}

.pg4 > * > * {margin-right: 0!important}

#ytPlayer{
    overflow:hidden; margin-bottom: -5px; position: relative; display: inline-block;
    border-top-left-radius: var(--halfSkirting); border-top-right-radius: var(--halfSkirting);
    width: calc(var(--innerPageCalc)); overflow:hidden;
    height: calc(var(--innerPageCalc) / 16 * 9)}
#uploadDate {
    border-bottom-left-radius: var(--halfSkirting); border-bottom-right-radius: var(--halfSkirting)}

#videoSelection tcb {
    background-color: var(--accent1)!important;
    width:calc((var(--innerPageCalc) - (var(--halfGutter) * 1.5) - 1px) / 3); display:inline-block}
#videoSelection tcb.def {
    width:calc((var(--innerPageCalc) - (var(--halfGutter) * 1.5) - 1px) / 3)!important;}
#videoSelection tcb.lar{
    width:calc((var(--innerPageCalc) - var(--halfSkirting)))!important;}

#videoSelection > div:not(:first-of-type) tcb p{
    background-size: 20%!important;}
#videoSelection > div:not(:first-of-type) > :not(:first-of-type) tcb p{
    background-size: 25%!important;}

#videoSelection > div:not(:first-of-type) > :first-of-type tcb p {
    background: url('/Website%20assets/Untitled-3.png') center right no-repeat;}

#videoSelection > div { /* parent container of videos */
    width: calc(var(--innerPageCalc) - var(--skirting));
    border-radius: var(--skirting); margin-bottom: calc(var(--halfSkirting) + 2px);
    background-color: var(--postback); position:relative; padding: var(--halfSkirting)}

#videoSelection > * > row { /* row division */
    width: calc(var(--innerPageCalc) - var(--skirting));
    display: block ruby; white-space: nowrap}
#videoSelection > * > row:not(:last-child){
    margin-bottom:var(--halfSkirting)}

#videoSelection > * > row > div { /* video thumbnail containers */
    overflow: hidden; border-radius: var(--halfSkirting);
    display:inline-block; vertical-align: text-top; cursor: pointer;
    float: none; position:relative}

#videoSelection > * > row > div:not(:last-child) {
    margin: 0 var(--halfSkirting) 0 0;}

#videoSelection .thumbnails {
    width:calc((var(--innerPageCalc) - (var(--halfSkirting) * 4)) / 3); height:141px;
    display: flex; align-items: center; justify-content: center;}
#videoSelection .thumbnails.def {
    width:calc((var(--innerPageCalc) - (var(--halfSkirting) * 4)) / 3)!important; height:141px!important}
#videoSelection .thumbnails.lar {
    width:calc(var(--innerPageCalc) - var(--skirting))!important;
    height:calc((var(--innerPageCalc) - var(--skirting)) / 16 * 9)!important}

e, f {
    font-size:var(--mid-fonts); font-family: var(--boldstyle); text-transform: uppercase;
    padding: 4px 8px; margin-bottom:var(--halfSkirting); display:inline-block;
    white-space: nowrap; overflow:hidden; color: white}
e { border-top-left-radius: var(--halfSkirting); border-bottom-left-radius: var(--halfSkirting);
    width:calc(100% - 16px); background-color: var(--accent2)}
f { width:calc(120px - var(--gutter) + var(--halfSkirting)); background-color: var(--accent4);
    float:right; cursor:pointer;}
f, e.rs {
    border-top-right-radius: var(--halfSkirting); border-bottom-right-radius: var(--halfSkirting)}

#videoSelection > * > *:first-of-type tcb, #videoSelection > * > *:first-of-type .thumbnails {
    width: calc(var(--innerPageCalc) / 2 - (var(--halfSkirting) * 1.5))}
#videoSelection > * > *:first-of-type .thumbnails {height:210px}

.pg4 img {width: 100%; height: auto;}
.pg4 tcb p {
    letter-spacing: 0.15px; white-space: nowrap; cursor: pointer;
    padding: 7px 10px!important; background-color: var(--accent1)}
.pg4 tcb * {color:white}

.pg4 .load-more {margin:var(--halfGutter) 0 0;
    left: calc(50% + ((var(--sidebarl) + var(--gutter))/2)); transform:translateX(-50%)}

/* Page 5
/* ===================================== */

.sbitems t {letter-spacing:0.5px}

/* ===================================== */
/* PAGE 2 */
incont > * p{color:var(--text)}
incont > * a{color:var(--accent3)}
incont > * a:hover {color:var(--accent4)}

incont > * div, incont > * drp t,
incont > * tcb p, incont > * tcb t {color:white!important;}
incont > * drp p {color:var(--posts)}

/* ===================================== */
/* BACKGROUND COLOURS */
/* ===================================== */

.pg3 incont, .pg2 pagecontainer{background-color: var(--postback)}

/* ===================================== */
/* PAGE 2/3 */
incont > * p {background-color:var(--posts)}
incont > * li{background-color:var(--artposts)}
incont > * .img{background-color:var(--artposts)}

incont > * tcb p {background-color:var(--accent1)}
incont > * drp p {background-color:var(--accent2)}

incont > w3x3 {width:calc(var(--innerPageCalc) - var(--skirting))!important}
incont > w2x1 {width:calc((var(--innerPageWoConCalc) + var(--halfGutter)) / 2 - (var(--halfSkirting)) - 0.1px)!important;
    position:relative; transition: top .4s cubic-bezier(0,0,0,1)}

/* ===================================== */
/* EDGES DATA */
/* ===================================== */

#hoverelm{
    border-radius:var(--skirting);
    overflow: hidden}

/* ===================================== */
/* TRANSITION DATA */
/* ===================================== */

incont > * drp p {transition:
        opacity .2s cubic-bezier(0,0,0,1),
        margin .3s cubic-bezier(0,0,0,1)}

incont > * > div.zoom {transition:
        opacity .5s cubic-bezier(0,0,0,1)}

.w32 img {transition: all .2s}
