:root {
    --pageheight: 5070px;

    /*font settings*/
    --fontstyle: 'Manrope', sans-serif;
    --boldstyle: 'Rubik', sans-serif;
    --gerstyle: 'UnifrakturCook', cursive;

    --tiny-fonts: 11px; --small-fonts: 13px;
    --mid-fonts: 15px; --large-fonts: 20px;
}

/* basic page functionality */

html, body {height: 100%; width:100%}

html {scroll-behavior: smooth}
body {
    font-size:1em; clear: none; position:fixed;
    font-family:var(--fontstyle); word-wrap:break-word;

    margin: 0; overflow: hidden;
    vertical-align: top;

    background:var(--background); color:var(--text);
    -webkit-user-select: none; -moz-user-select: moz-none;
    -ms-user-select: none; user-select: none}

body, body *{
    transition:
            color .3s cubic-bezier(0,0,0,1),
            background .3s cubic-bezier(0,0,0,1)}

#pageFunctionality {
    position: absolute;
    top: calc((var(--gutter) * 2) + var(--bannerPreCalc));
    transition:
            left .5s cubic-bezier(0,0,0,1),
            margin-left .5s cubic-bezier(0,0,0,1)}
#pageFunctionality.active {
    top: calc((42px * 2) + (var(--gutter) * 3) + var(--bannerPreCalc))}

mobileController {
    position:absolute;
    left: 0; margin-left: 0; top: 0;
    transition:
            margin-left .3s cubic-bezier(0,0,0,1),
            left .3s cubic-bezier(0,0,0,1)}

body:active, pg:active, pg p:active {cursor: grab}

/* page load-in elements */

loadIn {
    width: 28%; max-width:var(--sidebarm) ;height: 100%;
    position:relative; display:inline-block;
    left: 50%; transform:translateX(-50%)}

loadIn > img {
    height: auto!important;
    top: 50%; position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)}

loadIn > div {
    top:calc(35% + var(--sidebarr));
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)}
loadIn > *:nth-child(2) {
    filter:invert(var(--logoinv))}

/* image preview system CSS */
imageViewer {pointer-events: none; overflow: auto;
    z-index: 100000000; display: block; position: absolute;
    top: 50%; left: 50%; width: 100%; height:100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)}
#imagePreviewer {
    display: flex; justify-content:space-around;
    max-width: var(--containerWidthCalc); padding: 20px 0;
    left: 50%; top: 50%; position:relative;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)}
imageViewer .row{
    display: contents!important}

/* image containers format adjustments */
imageViewer > div { position: relative;
    top: -50%; transform: translateY(-50%)}
imageViewer > * > li > img {margin: -2px 0}
imageViewer > div > li {height: fit-content}
imageViewer > div > li img {
    width: 100%!important; height: auto!important;}
imageViewer > div img {
    position:relative; display: inline; height: 100%;
    background-repeat: no-repeat; background-size: contain}


/* default page formatting */
a { color:var(--accent3);
    text-decoration:none;
    border-color:var(--accent3);
    font-weight:900;
    transition:
            color .2s cubic-bezier(0,0,0,1)}
a:hover {color:var(--links)}
a:visited {color:var(--accent)}
b {color: var(--accent1)}

p { padding:0 15px;
    font-size:var(--tiny-fonts)}
p:first-of-type{ margin-top:0}
p:last-of-type { margin-bottom:0}
p:first-of-type t{
    margin-top:10px;
    font-size:1.4em;
    line-height:0}
p, h {cursor:default}

t { color: var(--alttitles);
    font-family:var(--boldstyle);
    text-transform:uppercase;
    font-size:1.3em}

h {color:var(--accent3)}

ol{font-size:12px}
li{list-style:none}
li:last-of-type{margin:0}

img { width:100%; height: 100%; border:0;
    pointer-events: none;
    background-position:center;}

/* page colour element presets */

.dac, .tan, .tii {overflow:hidden}
.dac p {background-color:var(--accent3)!important;}
.tan p {background-color:var(--invaccent)}
.tii p {background-color:var(--accent2)}
.tan p, .tii p, .tii{color:white;}
.tan t, .tii t, .tan{color:white;}
.tii p, .tan p{padding: 8px 10px}

.ls t{font-size: 21px;} /*I can't remember what this does*/

/* counter-edge smoothing presets */

.ntc{border-top-right-radius:0!important; border-top-left-radius:0!important}
.nbc{border-bottom-right-radius:0!important; border-bottom-left-radius:0!important}

/* preset elements */

divider {
    margin-bottom:15px; border-top:1px solid var(--text); width: 100%;
    position: relative; display: inline-block;}
.zoom {
    background-repeat: no-repeat; background-position: center center;
    -webkit-background-size: cover}

/* default animations */

@keyframes newbuttonfade {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}}

@keyframes shake {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }}