:root{
    --sidebarl:225px; --sidebarr:290px; --sidebarm:460px; /*main page divisional factors*/
    --gutter:20px; --skirting: 8px;

    /* Some precalcs that save time later CONTENT */
    --innerPageCalc: calc(var(--sidebarm) + var(--sidebarr) + var(--gutter));
    --innerPageWoConCalc: calc(var(--sidebarm) + var(--sidebarr));
    --containerWidthCalc: calc(var(--sidebarm) + var(--sidebarr) + var(--sidebarl));
    --fullBodyCalc: calc(var(--sidebarm) + var(--sidebarr) + var(--sidebarl) + (var(--gutter) * 2));

    --halfSkirting: calc(var(--skirting)/2);
    --halfGutter: calc(var(--gutter)/2)}

/* main page logic */
.tmblr-iframe--gdpr-banner{
    display:none}

pageData {
    left:50%; transform:translateX(-50%);
    position: fixed; top: 0; opacity:0;
    transition:
            top .6s cubic-bezier(0,0,0,1)}

pg{  /*default page setting*/
    width:var(--fullBodyCalc); top:0;
    position:absolute; display:none;
    opacity: 0.25; font-size: 0;
    transition:
        margin-left .5s cubic-bezier(0,0,0,1),
        opacity .5s cubic-bezier(0,0,0,1)}
pg > * > *{font-size:16px}
/*Page placement and layering fixes*/
pg.pageful {
    opacity:1!important; z-index: 2!important;
    cursor:auto!important} /*desktop devices*/

/* inner inner containers */
pageContainer{ /*this just prevents container overflow and offset*/
    font-size: 0; border-radius: var(--skirting);
    display:inline-block; overflow-x:hidden;
    width: calc(var(--innerPageCalc) + 0.5px);
    margin-left: calc(var(--sidebarl) + var(--gutter))}
pageContainer > * {
    font-size: 15px}

pageContainer > *:not(incont):first-child:not(:last-child) {
    margin-right: var(--halfGutter)}

/* page inner containers */
twiFeed, split50, feed{
    display:inline-block;
    border-radius: var(--skirting);
    overflow-x:hidden; vertical-align:top}

twiFeed > *, split50 > *, Feed > *{
    border-radius: var(--halfSkirting)!important;}

/*inner containers that determine width*/
feed, section{ /* 66% */
    padding:calc(var(--skirting)/2); background-color: var(--postback);
    width:calc(var(--sidebarm) + var(--halfGutter) - var(--skirting))}
split50 { /* 50% */
    padding:calc(var(--skirting)/2); background-color: var(--postback);
    width:calc(((var(--innerPageWoConCalc) + var(--halfGutter)) / 2) - var(--skirting))}
twiFeed{ /* 33% */
    padding:var(--halfSkirting); background-color: var(--postback);
    width:calc(var(--sidebarr) - var(--skirting))}

.block, .wedge {
    border-radius:var(--skirting);
    margin-bottom:var(--gutter);
    background-color:var(--posts)}
.block {padding:12px 0}

/* inner, inner inner page data holders */
article{overflow: hidden; border-radius:var(--halfSkirting);}
article:last-of-type{margin-bottom:0!important;}

section .load-more{
    left:50%; transform:translateX(-50%);
    margin: var(--gutter) 0 var(--gutter) 0}

/* globally applicable additions */

.load-more{
    text-align:center; position:relative; width:200px}
.load-more p{
    font-weight:900; font-size:var(--tiny-fonts);
    padding: 4px!important; border-radius:var(--skirting);
    background: linear-gradient(-45deg, var(--accent2), var(--accent3), var(--accent4));
    background-size:300% 300%; color:white!important;
    transition:
            transform .2s cubic-bezier(0,0,0,1),
            background .2s cubic-bezier(0,0,0,1);
    animation:
            newbuttonfade 10s cubic-bezier(0,0,0,1) infinite;}
.load-more p::after {
    font-size: 11px;
    content:"Nothing more to see."}

w2x1 .load-more, .pg1 .load-more { /* centers the loadmore button for 50% grade containers */
    left:50%; transform:translateX(-50%);
    margin: var(--halfGutter) 0 var(--halfGutter) 0}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) } }

@keyframes sk-bounce {
    0%, 100% {transform: scale(0.0); -webkit-transform: scale(0.0);
    } 50% {transform: scale(1.0); -webkit-transform: scale(1.0);} }