section { overflow-y:scroll; overflow-x:hidden;
    height:5070px; width:calc(var(--postwidth) - var(--skirting));
    display:inline-block; padding: calc(var(--skirting)/2);
    -ms-overflow-style: none; scrollbar-width: none;}

/* ===================================== */
/* PAGE 0 */

.pg0 article{z-index:99}
.pg0 section{margin:0 var(--gutter) 0 0}

.pg0 siders > div {overflow: hidden; margin-bottom:calc(var(--gutter)/2)}

.pg0 siders div div {background-size: cover; opacity:var(--defopacity); height: inherit}
.pg0 siders > div:first-of-type {height: 1000px}

.pg0 siders > div img{height:auto; pointer-events: none; z-index: 1; position: relative;}
#sc1 { width: 800px; margin: -1100px -200px 0;}

.pg0 siders > div p{z-index: 999; position: absolute; width: calc(var(--sidebarr) - var(--gutter))}
.pg0 siders > div:first-of-type p{margin-top:calc((var(--postwidth) + var(--sidebarr)) * -0.21)}

.pg0 siders > div:nth-child(1) div {background-image:url('https://cdn.discordapp.com/attachments/629600253997350912/891508114770259978/unknown.png')}

.pg0 siders.active {overflow: hidden}
.pg0 siders.active div img {position:relative}

.pg0 .wedge {width:var(--sidebarr); display: inline-block}

/* ===================================== */
/* PAGE 1 */

.pg1 section{margin:0 var(--gutter) 0 calc(var(--sidebarl) + var(--gutter));}

article .when {padding:13px 17px 13px}
article .when.footer {padding:13px 17px 15px} /* container that holds .time, and .d */

article {margin-bottom: var(--gutter)}

article li {padding:1px} /* for edges of images */
article li p:first-of-type {margin: 15px 0 10px}
article li p:last-of-type {margin: 10px 0 10px}
article li p:first-of-type b {font-size: 15px; line-height:0}
article li:before, .chat li:before, ol.notes li:before {display:none}
/*article ul {list-style:none; padding:.25em 0 .25em 15px}*/
article ol { padding:0 15px 0 35px}
article li li::before {content:"- "}

article .when .new-post:after {content: 'NEW'; color:white}
article .when .new-post{padding: 7px var(--gutter); float: Right; margin: 2px;}
article .when .new-post:hover{animation: shake 0.5s; animation-iteration-count: infinite;}

article .bottom{ /*workshop footer*/
    font-size: 10px;
    padding: 5px 10px;
    width: calc(var(--postwidth)- 1px);
    margin: 0;}

article figure { width: 100%; margin: 0}
div.npf_row {
    margin:0!important;
    align-items: center;
    display: flex;
    overflow: hidden;}
div.npf_row .npf_col figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover}
div.npf_row .npf_col figure {
    position: relative;
    padding-bottom: 100%;
    text-align: left}

article .npf_col {width: calc(50% - 1px);}
article .npf_row, .npf_row + p {margin: 10px 0!important}
article .npf_col:first-child {padding-right: 1px!important} /* this fixes the gap between images to be 1 pixel wide, apposed to 2. */
article .npf_col:last-child {padding-left: 0!important} /* this fixes the gap between images to be 1 pixel wide, apposed to 2. */

article .poster {
    height: calc(var(--postwidth) / 1.2);
    background-size: cover;
    position:relative}
article .poster .title{ /*workshop title*/
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    bottom: 0}
article .poster:hover .title{opacity: 0.9}

article .vimage {
    float:left;
    overflow:hidden;
    width:24px; height:24px;
    margin:-2px 13px 0 -2px;
    background-size:100% 100%;}
article .footer .postedby {
    margin-top:4px} /*container that posted by*/

#twitter{ height: 5070px; overflow: hidden; padding: calc(var(--skirting)/2)}
#twitter .load-more {position:absolute; bottom:var(--gutter);
    padding:20px calc((var(--sidebarr) / 2) - 100px);
    left:calc(var(--sidebarl) + var(--postwidth) + (var(--gutter) * 2))}
#twitter .load-more p:hover {transform: scale(1.1)}

/* This stuff is important but i want it out the way ========================================================================================================= */
.load-more{position:relative; width:200px}
.load-more p{background-size: 300% 300%; padding: 4px!important}
.load-more p::after {content:"Nothing more to see."}

section .load-more {left:50%; transform:translateX(-50%); margin: var(--gutter) 0 var(--gutter) 0;}
#posttop.load-more {position:fixed; left: calc(50% - 50px);}
#posttop p::after {content:"Scroll to the top"!important}

#twitter .load-more p::after {content:"Take me to see more!"!important}

/* Page 2 / 3
/* ===================================== */

incont{overflow:hidden}
incont, incont > * {display:inline-block; float: left; margin-right:10px}

incont > * {overflow:hidden; width:calc(((var(--sidebarr) + var(--postwidth)) - (3 * var(--skirting))) / 3)}
incont > *:last-of-type{margin-bottom:0px}

incont > w3x3 {width:calc((var(--sidebarr) + var(--postwidth) + var(--gutter)) - (var(--skirting)))!important}
incont > w2x1 {width:calc((var(--sidebarr) + var(--postwidth) + (var(--gutter) / 2)) / 2 - (var(--skirting) / 2))!important}

incont > * div:first-of-type p, incont > * p:last-of-type, incont > *:hover drp p{padding:8px 10px 10px}

incont > * tcb p {z-index:9; position:relative}
incont > * drp p {margin-top:-20px!important}
incont > *:hover drp p {margin-top: 0!important}

incont > * t {padding:0!important}

#hover-element {
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5)); opacity:1!important;
    position:absolute; white-space: nowrap; z-index:99; filter: blur(0)!important;
    background-color: transparent; background-size: contain;}

.pg2 incont {padding:calc(var(--skirting)/2); height:5030px;
    width:calc((var(--sidebarr) + var(--postwidth) - var(--gutter) + (var(--skirting) / 2)) / 3)}
.pg2 incont > * {margin-bottom:10px}

.pg3 incont {overflow:hidden; padding:calc(var(--skirting)/2); margin-bottom:10px;
    width:calc(var(--sidebarr) + var(--postwidth) + var(--gutter) - var(--skirting))}
.pg3 incont:last-of-type{margin-bottom:0}
.pg3 incont > * {margin-right:10px; width: calc(((var(--sidebarr) + var(--postwidth)) - (var(--skirting) + 1px)) / 3)}
.pg3 incont > *:last-of-type{margin-right:0!important}
.pg3 fullwc {display:inline-block}

.zoom { background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover}

.pg2 .load-more, .pg3 .load-more{margin:var(--gutter) 0; left: calc(50% + (var(--sidebarl)/2)); transform:translateX(-50%)}

/* Page 5
/* ===================================== */

.sbitems { width:var(--sidebarr); overflow:hidden}
.sbitems t {margin:10px 0 5px; display:block}